Organics Project/Tom Rush Organics Project.pptx
Organics Project/Tom Rush Technical Appendix.docx
Sky's the Limit/BAN6025Project2Data.csv
Neural Networks/NN_MNIST_Images.ipynb
Neural Networks/mnist_test.csv
Neural Networks/mnist_train.csv
